<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work page</title>
    <script>
        if (localStorage.getItem('key') == null)
            window.location.href = '/index.html'
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        .btn { background: #6bdaff; }

        @media (max-width: 1067px) {
            .btn { background: #7fdfff; }
        }

        @media (max-width: 733px) {
            .btn { background: #a7e9ff; }
        }
    </style>
</head>
<body>

<div class="container" id="app">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Enter data</h5>
                    <div>
                        <label for="x">X Val: </label>
                        <input v-model="x" v-on:change="onArgChanged" id="x" type="text">
                        <br>
                        <label for="y">Y Val: </label>
                        <input v-model="y" v-on:change="onArgChanged" id="y" type="text">
                        <br>
                        <label for="r">R Val: </label>
                        <input v-model="r" v-on:change="onRChanged" id="r" type="text">
                        <br>
                        <div class="button-group">
                            <button v-on:click="add" id="add" class="btn btn-primary">Добавить</button>
                            <button v-on:click="clear" class="btn btn-primary">Очистить</button>
                            <button v-on:click="logout" class="btn btn-primary">Выйти</button>
                        </div>
                        <div class="text-center" style="color: red">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas" v-on:click="clickCanvas" style="background-color:#ffffff;" width="300"
                            height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <table>
                    <tr>
                        <th>X</th>
                        <th>Y</th>
                        <th>R</th>
                        <th>Ans</th>
                    </tr>
                    <tr v-for="point in points">
                        <td>{{ point.x | twoDigits }}</td>
                        <td>{{ point.y | twoDigits }}</td>
                        <td>{{ point.r | twoDigits }}</td>
                        <td>{{ point.result }}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            x: '0',
            y: '0',
            r: '1',
            points: [],
            error: ''
        },
        mounted() {
            axios({
                method: 'post',
                url: '/lab4/api/get',
                data: {
                    key: localStorage.getItem('key'),
                }
            }).then(response => {
                if (response.data.status === 'ok') {
                    this.points = response.data.data;
                    this.error = "";
                } else {
                    this.error = "Failed to fetch points"
                }
            });
        },
        methods: {
            onArgChanged: function () {
                var addBtn = document.getElementById('add')

                if (isNaN(this.x) || parseInt(this.x) <= -5 || parseInt(this.x) >= 5 || this.x.length > 4) {
                    this.error = 'X must be number between (-5, 5) with 2 digits after comma\n'
                    addBtn.disabled = true;
                    return
                }
                if (isNaN(this.y) || parseInt(this.y) <= -5 || parseInt(this.y) >= 5 || this.y.length > 4) {
                    this.error = 'Y must be number between (-5, 5) with 2 digits after comma\n'
                    addBtn.disabled = true;
                    return;
                }
                addBtn.disabled = false;
                this.error = ''
            },
            onRChanged: function () {
                var addBtn = document.getElementById('add')

                if (isNaN(this.r) || parseInt(this.r) <= 0 || parseInt(this.r) >= 5 || this.r.length > 4) {
                    this.error = 'R must be number between (0, 5) with 2 digits after comma'
                    addBtn.disabled = true;
                    return
                }
                addBtn.disabled = false;
                this.error = ''
                drawCanvas('canvas', this.r)
            },
            clickCanvas: function () {
                var elem = document.getElementById('canvas');
                var R = this.r;

                var br = elem.getBoundingClientRect();
                var left = br.left;
                var top = br.top;
                var event = window.event;
                var x = event.clientX - left;
                var y = event.clientY - top;
                console.log(x, y, R);

                var transf_x = R * (x - 150) / 130;
                var transf_y = R * (150 - y) / 130;

                data = {
                    'key': localStorage.getItem('key'),
                    'x': transf_x,
                    'y': transf_y,
                    'r': R
                };
                axios({
                    method: 'post',
                    url: '/lab4/api/add',
                    data: data
                }).then(response => {
                    if (response.data.status === 'ok') {
                        drawPoint('canvas', x, y, response.data.last_point.result)
                        this.points.push(response.data.last_point)
                        this.error = '';
                    } else {
                        this.error = 'Failed to add point'
                    }
                })
            },
            add: function (event) {
                axios({
                    method: 'post',
                    url: '/lab4/api/add',
                    data: {
                        key: localStorage.getItem('key'),
                        x: this.x,
                        y: this.y,
                        r: this.r,

                    }
                }).then(response => {
                    this.message = response.data.status;
                    if (this.message === 'ok') {
                        const point = response.data.last_point
                        this.points.push(point)

                        const y = 150 - 130 * point.y / point.r;
                        const x = point.x * 130 / point.r + 150;
                        drawPoint('canvas', x, y, point.result)
                        this.error = '';
                    } else {
                        this.error = 'Failed to add point'
                    }
                });
            },
            logout: function (event) {
                axios({
                    method: 'post',
                    url: '/lab4/user/logout',
                    data: {
                        key: localStorage.getItem('key')
                    }
                }).then(response => {
                    localStorage.removeItem('key');
                    window.location.href = '/lab4/index.html'
                });
            },
            clear: function (event) {
                axios({
                    method: 'post',
                    url: '/lab4/api/clear',
                    data: {
                        key: localStorage.getItem('key')
                    }
                }).then(response => {
                    window.location.href = '/lab4/work.html'
                });
            }
        },
        filters: {
            twoDigits: function (param) {
                return param.toFixed(2)
            }
        }
    })
</script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        drawCanvas("canvas", 1);
    });

    function drawCanvas(id, r) {
        var canvas = document.getElementById(id),
            context = canvas.getContext("2d");
        //очистка
        context.clearRect(0, 0, canvas.width, canvas.height);

        //прямоугольник
        context.beginPath();
        context.rect(150 - 130, 85, 130, 65);
        context.closePath();
        context.strokeStyle = "#aef3ff";
        context.fillStyle = "#aef3ff";
        context.fill();
        context.stroke();

        // сектор
        context.beginPath();
        context.moveTo(150, 150);
        context.arc(150, 150, 65, 1.5 * Math.PI, 2 * Math.PI);
        context.closePath();
        context.strokeStyle = "#aef3ff";
        context.fillStyle = "#aef3ff";
        context.fill();
        context.stroke();

        //треугольник
        context.beginPath();
        context.moveTo(150, 150);
        context.lineTo(150, 150 + 130 / 2);
        context.lineTo(150 + 130 / 2, 150);
        context.lineTo(150, 150);
        context.closePath();
        context.strokeStyle = "#aef3ff";
        context.fillStyle = "#aef3ff";
        context.fill();
        context.stroke();

        //отрисовка осей
        context.beginPath();
        context.font = "10px Verdana";
        context.moveTo(150, 0);
        context.lineTo(150, 300);
        context.moveTo(150, 0);
        context.lineTo(145, 15);
        context.moveTo(150, 0);
        context.lineTo(155, 15);
        context.strokeStyle = "#000000";
        context.fillStyle = "#000000";
        context.fillText("Y", 160, 10);
        context.moveTo(0, 150);
        context.lineTo(300, 150);
        context.moveTo(300, 150);
        context.lineTo(285, 145);
        context.moveTo(300, 150);
        context.lineTo(285, 155);
        context.fillText("X", 290, 135);

        // деления X
        context.moveTo(145, 20);
        context.lineTo(155, 20);
        context.fillText(r, 160, 20);
        context.moveTo(145, 85);
        context.lineTo(155, 85);
        context.fillText((r / 2), 160, 78);
        context.moveTo(145, 215);
        context.lineTo(155, 215);
        context.fillText(-(r / 2), 160, 215);
        context.moveTo(145, 280);
        context.lineTo(155, 280);
        context.fillText(-r, 160, 280);
        // деления Y
        context.moveTo(20, 145);
        context.lineTo(20, 155);
        context.fillText(-r, 20, 170);
        context.moveTo(85, 145);
        context.lineTo(85, 155);
        context.fillText(-(r / 2), 70, 170);
        context.moveTo(215, 145);
        context.lineTo(215, 155);
        context.fillText((r / 2), 215, 170);
        context.moveTo(280, 145);
        context.lineTo(280, 155);
        context.fillText(r, 280, 170);

        context.closePath();
        context.strokeStyle = "black";
        context.fillStyle = "black";
        context.stroke();
    }

    function drawPoint(id, x, y, isArea) {
        var canvas = document.getElementById(id),
            context = canvas.getContext("2d");

        context.beginPath();
        context.ellipse(x - 1, y - 1, 2, 2, 1, 0, 2 * Math.PI, true);
        context.closePath();
        if (isArea) {
            context.strokeStyle = "#b467de";
            context.fillStyle = "#b467de";
        } else {
            context.strokeStyle = "#000";
            context.fillStyle = "#000";
        }
        context.fill();
        context.stroke();
    }
</script>

</body>
</html>